.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00A300;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00A300;
}

input:checked+.slider.allergiesClass {
    background-color: #c60000;
}

input:focus+.slider.allergiesClass {
    box-shadow: 0 0 1px #c60000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggleBlock {
    display: inline-block;
    vertical-align: middle;
}

p.doordashSliderText {
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
}

.doordashSlidersDiv {
    display: inline-block;
    margin-right: 40px;
}

.greenClass {
    background-color: #00A30060;
}

.greyClass {
    background-color: #ccc;
}

.redClass {
    background-color: #FF000060;
}

.yellowClass {
    background-color: #FFD70060;
}